/1_Raíces_de_ecuaciones/1_Método_cerrado/.ipynb_checkpoints/1_Método Gráfico-checkpoint.ipynb
/1_Raíces_de_ecuaciones/1_Método_cerrado/.ipynb_checkpoints/2_Bisección-checkpoint.ipynb
/1_Raíces_de_ecuaciones/1_Método_cerrado/.ipynb_checkpoints/3_Falsa Posición-checkpoint.ipynb
/.idea/misc.xml
/.idea/mnspy_notebooks.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/1_Raíces_de_ecuaciones/2_Método_abierto/.ipynb_checkpoints/1_Punto Fijo-checkpoint.ipynb
/1_Raíces_de_ecuaciones/2_Método_abierto/.ipynb_checkpoints/2_Newton Raphson-checkpoint.ipynb
/1_Raíces_de_ecuaciones/2_Método_abierto/.ipynb_checkpoints/3_Secante-checkpoint.ipynb
/1_Raíces_de_ecuaciones/2_Método_abierto/.ipynb_checkpoints/4_Secante Modificada-checkpoint.ipynb
/1_Raíces_de_ecuaciones/2_Método_abierto/.ipynb_checkpoints/5_Wegstein-checkpoint.ipynb
/1_Raíces_de_ecuaciones/2_Método_abierto/.ipynb_checkpoints/6_Brent-checkpoint.ipynb
